# tensorflow >= 1.15.0   # CPU Version of TensorFlow.
tensorflow-gpu==2.9.3  # GPU version of TensorFlow.
gensim==3.8.0
keras==2.3.1
git+https://www.github.com/keras-team/keras-contrib.git
pandas
sklearn
scikit-learn
scipy
matplotlib
numpy
nltk
h5py==2.10.0