# tensorflow >= 1.15.0   # CPU Version of TensorFlow.
tensorflow-gpu==1.15.0  # GPU version of TensorFlow.
gensim
keras==2.3.1
git+https://www.github.com/keras-team/keras-contrib.git
pandas
sklearn
scikit-learn
scipy
matplotlib
numpy